groups:
  enable: []  # 允许响应的群 roomId，大概长这样：2xxxxxxxxx3@chatroom

news:
  receivers: ["filehelper"]  # 定时新闻接收人（roomid 或者 wxid）

report_reminder:
  receivers: []  # 定时日报周报月报提醒（roomid 或者 wxid）

# 消息发送速率限制：一分钟内最多发送6条消息
send_rate_limit: 6

weather:  # -----天气提醒配置这行不填-----
  city_code: 101010100 # 北京城市代码，如若需要其他城市，可参考base/main_city.json或者自寻城市代码填写
  receivers: ["filehelper"]  # 天气提醒接收人（roomid 或者 wxid）

chatgpt:  # -----chatgpt配置这行不填-----
  key:  # 填写你 ChatGPT 的 key
  api: https://api.openai.com/v1  # 如果你不知道这是干嘛的，就不要改
  model: gpt-3.5-turbo
  proxy:  # 如果你在国内，你可能需要魔法，大概长这样：http://域名或者IP地址:端口号
  prompt: 你是智能聊天机器人，你叫 wcferry  # 根据需要对角色进行设定

coze:
  Authentication: pat_JUxxx
  Area: # cn/en
  bot: 
    - botid: 123123
      botname: 1231
    - botid: 1234
      botname: 1234
    

